@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Smooth color transition for dark mode */
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff5722;
  --color-secondary: #1e0a3c;
}
html{
  scroll-behavior: smooth;
}
*{
  font-family: "Raleway", sans-serif;
}
body h1,h2,h3,h4,h5,h6,button{
  font-family: "Rancho", cursive;
      --tw-tracking: var(--tracking-wider) /* 0.05em */;
    letter-spacing: var(--tracking-wider) /* 0.05em */;
}
body button{
  cursor: pointer;
}