
.swiper {
  width: 100%;
  height: 550px;
  border-radius: 15px 15px 10px 10px;
  margin: px 0;
}
.swiper-button-prev, .swiper-button-next{
  color: #ff5722;
}
.swiper-pagination-bullet{
  background: #ff5722;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


